@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: black;
  /* background-color: white; Directly set the background color to white */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


table.scroll {
  /* border-collapse: collapse; */
  border-spacing: 0;
}

table.scroll tbody,
/* table.scroll thead { display: block; } */


table.scroll tbody {
  overflow-y: auto;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #737373;
  /* border-radius: 5px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #22c55e;
}